


VITE_API_URL=https://anonymousxinmin-backed.onrender.com
VITE_TURNSTILE_SITE_KEY=0x4AAAAAAD_Exkr-g2QpaNgb
VITE_SUPABASE_URL=https://yeqvfyxwuyyjlxqtzvbc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InllcXZmeXh3dXl5amx4cXR6dmJjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxNDM3MzQsImV4cCI6MjEwMDcxOTczNH0.pv9EQ2PMnVv6eoyHfvs0A5jaSCnB4RmxHKycFpZP-Dg
